.button{
 width: 100%;
 padding: 1rem 0;
 background: none;
 color: var(--color-white);
 text-transform:uppercase;
 background-color: var(--color-theme-main);
 font-weight: 700;
 border: none;
 
}

.black{
 background-color: var(--color-text-default);
}